#canvas {
  display: flex;
  flex: 1;
  height: 0;
  overflow: auto;
  background-color: #2a2a2a;
}

#canvas-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  min-height: 100%;
  box-sizing: border-box;
}

#artboard-border {
  position: relative;
  display: inline-block;
}

#artboard {
  display: block;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  flex-shrink: 0;
}

.handle {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: white;
  border: 1px solid blue;
  box-sizing: border-box;
  z-index: 90;
}

.tl { top: -5px; left: -5px; cursor: nwse-resize; }
.tc { top: -5px; left: 50%; cursor: ns-resize; }
.tr { top: -5px; right: -5px; cursor: nesw-resize; }
.ml { top: 50%; left: -5px; cursor: ew-resize; }
.mr { top: 50%; right: -5px; cursor: ew-resize; }
.bl { bottom: -5px; left: -5px; cursor: nesw-resize; }
.bc { bottom: -5px; left: 50%; cursor: ns-resize; }
.br { bottom: -5px; right: -5px; cursor: nwse-resize; }
