#navbar {
  background: #1a1a1a;
}

#footer {
  display: block;
  background: #1a1a1a;
  padding: 5px;
}

txtl {
  display: block;
  text-align: left;
}

txtr {
  display: block;
  text-align: right;
}

txtc {
  display: block;
  text-align: center;
}


