/* Reset all formatting */
* {
  margin: 0;
  padding: 0;
}

html, body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #1a1a1a;
}

/* Sections */
#navbar {
  position: relative;
  padding: 5px;
  z-index: 10;
}

#footer {
  position: relative;
  z-index: 10;
  padding: 5px;
}

/* Text Alignment */
.txtl {
  text-align: left;
}

.txtr {
  text-align: right;
}

.txtc {
  text-align: center;
}

/* Text Formatting */
p {
  color: white;
}



